.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.text_container {
    display: flex;
    align-items: center;
}

.right_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    flex: 1;
}

.button {
    margin-top: 24px;
    margin-bottom: 24px;
}
.image_two, .image_one {
    border-radius: 16px;
}

.left_container {
    flex: 1;
}

.image_two {
    margin-top: -352px;
    margin-left: 114px;
}

.container::before {
    content: url("/svg/Bg_line_rigth.svg");
    position: absolute;
    bottom: -286px;
    right: -300px;
    z-index: 1;
    pointer-events: none;
}
.container::after {
    content: '';
    border-radius: 100%;
    opacity: 0.2;
    background: rgba(47, 202, 219, 0.60);
    filter: blur(74px);
    display: flex;
    position: absolute;
    width: 494px;
    height: 494px;
    bottom: -247px;
    right: -347px;
    pointer-events: none;
}